layout {
	pane {
		pane split_direction="vertical" {
		}
		pane split_direction="vertical" {
			pane name="hardhat-deploy" command="pnpm" {
				args "--filter" "./packages/hardhat-deploy" "dev"
			}
			
		}
		pane split_direction="vertical" {
			pane name="demoes/basic" command="pnpm" {
				args "--filter" "./demoes/basic" "test:watch"
			}
			pane name="demoes/proxies" command="pnpm" {
				args "--filter" "./demoes/proxies" "test:watch"
			}
			
		}
	}
}
