# Node modules
/node_modules

# Compilation output
/dist

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# private env variable
*.local

# hardhat-deploy generated artifacts files
/generated