{
	"useTabs": true,
	"singleQuote": true,
	"printWidth": 120,
	"bracketSpacing": false,

	"plugins": ["prettier-plugin-solidity"],
	"overrides": [
		{
			"files": "*.sol",
			"options": {
				"parser": "solidity-parse",
				"printWidth": 120,
				"tabWidth": 4,
				"useTabs": false,
				"singleQuote": false,
				"bracketSpacing": false
			}
		}
	]
}
